[user]
	name = Thorben Below
	email = below.thorben@inside-online.de
[core]
	editor = nvim
[pull]
	rebase = true
[rebase]
	autoStash = true
[commit]
	gpgsign = true
[gpg]
	program = gpg
[tag]
	gpgsign = true
[init]
	defaultBranch = main
